<%= form_with(model: [@gossip, Comment.new], url: gossip_comments_path(@gossip), method: :post) do |form| %>
  <div>
    <%= form.label :content, "Votre commentaire" %>
    <%= form.text_area :content, required: true %>
  </div>

  <%= form.submit "Envoyer" %>
<% end %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
